/*768-992*/

/*.dogc1{
	display: none;
}*/
.dogthree{
	display: none;
}
.dogp{
   	margin: 5px 0;
    font-family: 'Arimo', sans-serif;
   	font-size: 1em;
   }
.dogpp{
   	color:white;
   	font-family: 'Arimo', sans-serif;
    font-size: 0.5m;
   	margin:0 0;
   }
   .doga{
   	margin-top: 30px;
   }
   .dogc{
   	  margin:0;
   	  padding: 10px;
   	   
   }
    .dogc1{
   	margin-top: 0;
   	
   }
   .dbtn{
   	  margin-top: 4px;
   	  height: 30px;
   	  width:50px;
   	  font-size: 0.7em;
   	  line-height: 10px;
   	  text-align: center;
   }
.slide-text{
	bottom: 80px;
	
}
.acat{
	display: none;
}
.bcat h1{
	font-size:1.5em;
}
.bcat p{
	font-size:0.8em ;
}
.rowphoto1{
	display: none;
}
.rowphoto2{
	display: none;
}
.rowphoto3{
	display: none;
}
.divcon{

	margin-top: 120px;
	
}
 .ph1{
   	  font-family: china;
   	 font-size:5em;
   	  color: black;
   	  
   }
 
   .second-sp{
   	display: none;
   }
#second-text2{
	display: none;
}
.dis{display: none;}
.s1{
	display: none;
}
.contustwo{
	height: 260px;
	
}
.contsub{
	margin-top: 20px;
}
.second-text{
	display: none;
}

.second-text2{
	display: none;
}
.aTwo{
	width: 33.333%;
}


