*{margin: 0;padding: 0;}
body a{
    transition:0.5s all;
   
}
  .total{
          	 background: url(images/back.jpg) no-repeat;
          	 background-size: 100%;
          	 
          }
.a{
	background-color: #4597A8;
	line-height: 30px;
	color: white;
	text-align: center;
}
.header-bottom {
	padding:1.5em 0;
	border-bottom: 1px solid #4597a8;
}
.logo{
	float: left;
}
.top-menu{
	text-align: center;
	margin-top: 0.9em;
	float: right;
}
.top-menu ul li{
	display: inline-block;
	margin: 0 25px;
	color: #fff;
	font-weight: 900;
	vertical-align: top;
}
.top-menu ul li:nth-child(2),.top-menu ul li:nth-child(4),.top-menu ul li:nth-child(6),.top-menu ul li:nth-child(8) {
	margin: 0;
}
.top-menu ul li a.active{
	color:#4597a8;
}
.top-menu ul li a:hover{
	color:#4597a8;
}
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}
nav a:hover,
nav a:focus {
	outline: none;
}
.nav1 a {
	overflow: hidden;
}
.nav1 a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.nav1 a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.nav1 a:hover span,
.nav1 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}
.top-menu ul li a{
	text-decoration:none;
	color:#444444;
	font-size: 14px;
	font-weight: 400;
	text-transform:uppercase;
}
/*logo end*/
/*相册*/
.divcon{
	margin-top:250px ;
}
h3{
	font-family: china;
}
.divcon1{
	margin-top:100px;
}
.divcon2{
	margin-top:100px ;
}
	.pa{
		 
	}
   .ph1{
   	  font-family: china;
   	  font-size:9em;
   	  color: white;
   	  
   	  
   }
   .photodiv{
   	width: 100%;
   }
   .photo{
   /*	width: 100%;*/
   }
   .photiimg{
   	width: 100%;
   }
   a{
   	text-decoration: none;
   }
   .ih-item.square {
    position: relative;
    width: 316px;
    height: 216px;
    border: 8px solid #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.ih-item.square .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ih-item.square.effect13 {
    overflow: hidden;
}
.ih-item.square.effect13 .img {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.ih-item.square.effect13 .info {
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.square.effect13 .info h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    background: #111111;
    margin: 30px 0 0 0;
}
.ih-item.square.effect13 .info p {
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #bbb;
    padding: 20px 20px 20px;
    text-align: center;
}
.ih-item.square.effect13 a:hover .img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.ih-item.square.effect13 a:hover .info {
    visibility: visible;
    opacity: 1;
}
.ih-item.square.effect13.left_to_right .info {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.ih-item.square.effect13.left_to_right a:hover .info {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.ih-item.square.effect4 {
    overflow: hidden;
    position: relative;
}
.ih-item.square.effect4.colored .mask1,
.ih-item.square.effect4.colored .mask2 {
    background: #1a4a72;
    background: rgba(26, 74, 114, 0.6);
}
.ih-item.square.effect4 .img {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.square.effect4 .mask1,
.ih-item.square.effect4 .mask2 {
    position: absolute;
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    height: 361px;
    width: 361px;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.square.effect4 .mask1 {
    left: auto;
    right: 0;
    top: 0;
    -webkit-transform: rotate(56.5deg) translateX(-180px);
    -moz-transform: rotate(56.5deg) translateX(-180px);
    -ms-transform: rotate(56.5deg) translateX(-180px);
    -o-transform: rotate(56.5deg) translateX(-180px);
    transform: rotate(56.5deg) translateX(-180px);
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.ih-item.square.effect4 .mask2 {
    top: auto;
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(56.5deg) translateX(180px);
    -moz-transform: rotate(56.5deg) translateX(180px);
    -ms-transform: rotate(56.5deg) translateX(180px);
    -o-transform: rotate(56.5deg) translateX(180px);
    transform: rotate(56.5deg) translateX(180px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}
.ih-item.square.effect4 .info {
    background: #111111;
    height: 0;
    visibility: hidden;
    width: 361px;
    -webkit-transform: rotate(-33.5deg) translate(-112px, 166px);
    -moz-transform: rotate(-33.5deg) translate(-112px, 166px);
    -ms-transform: rotate(-33.5deg) translate(-112px, 166px);
    -o-transform: rotate(-33.5deg) translate(-112px, 166px);
    transform: rotate(-33.5deg) translate(-112px, 166px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: all 0.35s ease-in-out 0.35s;
    -moz-transition: all 0.35s ease-in-out 0.35s;
    transition: all 0.35s ease-in-out 0.35s;
}
.ih-item.square.effect4 .info h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    background: transparent;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out 0.35s;
    -moz-transition: all 0.35s ease-in-out 0.35s;
    transition: all 0.35s ease-in-out 0.35s;
}
.ih-item.square.effect4 .info p {
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #bbb;
    padding: 20px 20px 20px;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out 0.35s;
    -moz-transition: all 0.35s ease-in-out 0.35s;
    transition: all 0.35s ease-in-out 0.35s;
}
.ih-item.square.effect4 a:hover .mask1 {
    -webkit-transform: rotate(56.5deg) translateX(1px);
    -moz-transform: rotate(56.5deg) translateX(1px);
    -ms-transform: rotate(56.5deg) translateX(1px);
    -o-transform: rotate(56.5deg) translateX(1px);
    transform: rotate(56.5deg) translateX(1px);
}
.ih-item.square.effect4 a:hover .mask2 {
    -webkit-transform: rotate(56.5deg) translateX(-1px);
    -moz-transform: rotate(56.5deg) translateX(-1px);
    -ms-transform: rotate(56.5deg) translateX(-1px);
    -o-transform: rotate(56.5deg) translateX(-1px);
    transform: rotate(56.5deg) translateX(-1px);
}
.ih-item.square.effect4 a:hover .info {
    width: 300px;
    height: 120px;
    visibility: visible;
    top: 40px;
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -ms-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
}
.ih-item.square.effect4 a:hover .info h3,
.ih-item.square.effect4 a:hover .info p {
    opacity: 1;
}
.ih-item.square.effect8 {
    overflow: hidden;
}
.ih-item.square.effect8.colored .info {
    background: #1a4a72;
}
.ih-item.square.effect8.colored .info h3 {
    background: rgba(12, 34, 52, 0.6);
}
.ih-item.square.effect8 .img {
    opacity: 1;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.square.effect8 .info {
    background: #333333;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.square.effect8 .info h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    background: #111111;
    margin: 30px 0 0 0;
    -webkit-transition: all 0.35s 0.1s ease-in-out;
    -moz-transition: all 0.35s 0.1s ease-in-out;
    transition: all 0.35s 0.1s ease-in-out;
}
.ih-item.square.effect8 .info p {
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #bbb;
    padding: 20px 20px 20px;
    text-align: center;
    -webkit-transition: all 0.35s 0.15s linear;
    -moz-transition: all 0.35s 0.15s linear;
    transition: all 0.35s 0.15s linear;
}
.ih-item.square.effect8 a:hover .img {
    opacity: 0;
}
.ih-item.square.effect8 a:hover .info {
    visibility: visible;
    opacity: 1;
}
.ih-item.square.effect8.scale_up .img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.ih-item.square.effect8.scale_up .info {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.ih-item.square.effect8.scale_up .info h3,
.ih-item.square.effect8.scale_up .info p {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.ih-item.square.effect8.scale_up a:hover .img {
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    -o-transform: scale(5);
    transform: scale(5);
}
.ih-item.square.effect8.scale_up a:hover .info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.ih-item.square.effect8.scale_up a:hover .info h3,
.ih-item.square.effect8.scale_up a:hover .info p {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
/*相册*/
/*backphoto*/
     .backphoto{
     	background: url(../images/back1.jpg);
     	width: 100%;
     	height: 500px;
       background-attachment: fixed;
       background-size: 100%;
       margin-top: 60px;
     }    
.tj a:hover{
	color: white;
	text-decoration: none;
}









/*backphoto*/