/*540以下*/

.body{
	margin-bottom: 0px;
}
.dogc1{
	display: none;
}
.dogthree{
	display: none;
}
.dogtwo{
	display: none;
}
.dogp{
   	margin: 3px 0;
    font-family: 'Arimo', sans-serif;
   	font-size: 0.8em;
   }
.dogpp{
   	color:white;
   	font-family: 'Arimo', sans-serif;
    font-size: 0.6em;
   	margin:0 0;
   }
   .dbtn{
   	  margin-top: 4px;
   	  height: 20px;
   	  width: 50px;
   	  font-size: 0.3em;
   	  line-height: 10px;
   	  transform: skew(25deg);
   	  text-align: center;
   }
   .doga{
   	margin-top: 10px
   }
   .dogc img{
   	  height: 50px;
   }
.team{
	display: none;
	
}  
.acat{
	display: none;
}
.bcat {
	display: none;
}



.divcon1{
	margin-left:50px;
	margin-top: 0;
	
}
.divcon{
	margin-left:50px;
	margin-top: 100px;
	
}
.divcon2{
	margin-left:50px;
	margin-top: 0px;
	margin-bottom: 30px;

}
 .ph1{
   	  font-family: china;
   	 font-size:3em;
   	  color: black;
   	  
   }
   #body1{
   	background-image: url(../images/back.jpg);
   	background-attachment: fixed;
   	background-size:cover ;
   }
.backphoto{
	display: none;
}
#third-txt2{
	display: none;
}






.backphoto{
	display: none;
}
.second-sp{
   	display: none;
   }
   #second-text2{
	display: none;
}
.dis{
	display: none;
	
}
.careul{
	display: none;
}
.contdis{
	display: none;
}
.contustwo{
	height: auto;
}
.contsub{
	margin-top: 20px;
}

.second-text2{
	display: none;
}
.second-text{
	display: none;
}

    
/*.sec{
	display: none;
}*/
